/* General */
h2{
    text-align:center;
}

p, li, ul{
    text-align:center;
}

/* Header */
#header{
    background-color: #290000;
    color: #fffebd;
    padding: 10px;
}

#header > h2{
    font-size: 40px;
}

#step-1{
    background-color: #f7ce65;
    padding: 10px;
    color: #030303
}

#step-2{
    background-color: #930c10;
    padding: 10px;
    color: #fffebd;
}

#step-3{
    background-color: #f7ce65;
    padding: 10px;
    color: #030303
}

#step-4{
    background-color: #930c10;
    padding: 10px;
    color: #fffebd;
}

#step-5{
    background-color: #f7ce65;
    padding: 10px;
    color: #030303
}

/* Step 5 */
textarea, #misc{
    margin-right:auto;
    margin-left:auto;
    display:block;
}