/* General */
h2{
    text-align:center;
}

p, li, ul{
    text-align:center;
}

/* Header */
#header{
    background-color: #290000;
    color: #fffebd;
    padding: 10px;
}

#header > h2{
    font-size: 40px;
}

#step-1{
    background-color: RGBA(247, 206, 101, .7);
    padding: 10px;
    color: #030303
}

#step-2{
    background-color: RGBA(147, 12, 16, .7);
    padding: 10px;
    color: #fffebd;
}

#step-3{
    background-color: RGBA(247, 206, 101, .7);
    padding: 10px;
    color: #030303
}

#step-4{
    background-color: RGBA(147, 12, 16, .7);
    padding: 10px;
    color: #fffebd;
}

#step-5{
    background-color: RGBA(247, 206, 101, .7);
    padding: 10px;
    color: #030303
}

#step-6{
    background-color: RGBA(147, 12, 16, .7);
    padding: 10px;
    color: #fffebd;
}

/* Step 5 */
textarea, #misc{
    margin-right:auto;
    margin-left:auto;
    display:block;
}

/* Background */
.parallax {
    position: relative;
    min-height: 100%; /* Adjust this to the desired height */
    width: 100%;
    background-repeat: no-repeat;
    background-image: url('images/background-image.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 0px;
  }