/* General */
h2{
    text-align:center;
}

h3{
    text-align: center;
}

p, li, ul{
    text-align:center;
}

/* Header */
#header{
    background-color: #290000;
    color: #fffebd;
    padding: 10px;
}

#header > h2{
    font-size: 40px;
}

#step-1{
    background-color: RGBA(247, 206, 101, .7);
    padding: 10px;
    color: #030303;
    margin-left: 250px;
    margin-right: 250px;
}

#step-2{
    background-color: RGBA(147, 12, 16, .7);
    padding: 10px;
    color: #fffebd;
    margin-left: 250px;
    margin-right: 250px;
}

#step-3{
    background-color: RGBA(247, 206, 101, .7);
    padding: 10px;
    color: #030303;
    margin-left: 250px;
    margin-right: 250px;
}

/* Step 4 */
#step-4{
    background-color: RGBA(147, 12, 16, .7);
    padding: 10px;
    color: #fffebd;
    margin-left: 250px;
    margin-right: 250px;
}

#batstats{
    width: 55px;
    height: 35px;
}

/* Step 5 */
#step-5{
    background-color: RGBA(247, 206, 101, .7);
    padding: 10px;
    color: #030303;
    margin-left: 250px;
    margin-right: 250px;
    padding-bottom: 35px;
}

textarea, #misc{
    margin-right:auto;
    margin-left:auto;
    display:block;
    background-color: #fffebd;
}

input[type="text"], input[type="number"] {
    background-color: #fffebd;
}

#curr{
    width: 55px;
    height: 35px;
}

#step-6{
    background-color: RGBA(147, 12, 16, .7);
    padding: 10px;
    color: #fffebd;
    margin-left: 250px;
    margin-right: 250px;
}



/* Background */
.parallax {
    position: relative;
    min-height: 100%; /* Adjust this to the desired height */
    width: 100%;
    background-repeat: no-repeat;
    background-image: url('images/background-image.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 0px;
  }

/* Start Over Button */
div.OverButton {
    position: sticky;
    top: 0;
    padding: 40px;
    font-size: 25px;
}

  #StartOver {
    font-size: 26px; 
    float: left; 
    border-radius: 10px;  
    background-color: #fffebd;
  }

  #popup-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #290000;
    color: #fffebd;
    z-index: 2;
    height: 280px;
    width: 850px;
  }

  #popup-box > h2 {
    font-size: 45px;
  }

  #popup-box > p {
    font-size: 35px;
  } 

  #popup-box > button {
    font-size: 25px;
    border-radius: 10px; 
    background-color: #fffebd;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
  }

#prefab{
    height: 20px;
    width: 20px;
}